/* tablet */
@media only screen and (max-width: 992px) {
  :root {
    --bgc: green;
  }
  #navbar-avt {
    display: none;
  }
  #about .container h1 {
    text-wrap: nowrap;
  }
  #about .container {
    grid-gap: 30px;
  }
  #target {
    text-align: left;
  }
  #job-info .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .project-item img {
    width: 100%;
  }
  .project-work {
    display: flex;
  }
  table,
  tr,
  td {
    padding: 8px;
  }
}
